@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
    ;
    width: 100%;
}
.btn-primary{
    background-color:#FF900E;
    color: white;
    padding: 15px 16px;
    font-size: 0.78rem;
    border-radius:5px ;
    border: none;
    font-weight: 600;


}

/* header */
.navbar {

    justify-content: space-between;
    align-items: center;
}

.brand {
    font-style: Bold;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 1rem;

}

.nav-items {
    list-style: none;
    margin-right: 30px;



}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 980px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}
.banner>img{
    width: 100%;
   
}

@media screen and (max-width:576px) {
.navbar,.nav-link{
    flex-direction: column;

}    
}